agno
openai
exa_py
yfinance
duckdb
bs4
duckduckgo-search
nest_asyncio
qdrant-client
pgvector
psycopg[binary]
pypdf
sqlalchemy
streamlit
pandas
matplotlib
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
