agno
openai
exa_py
yfinance
duckdb
bs4
duckduckgo-search
nest_asyncio
qdrant-client
pgvector
psycopg[binary]
pypdf
sqlalchemy
streamlit
pandas
matplotlib
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
