agno
openai
streamlit
google-generativeai
anthropic
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
python-multipart>=0.0.22 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
